body{
  margin : auto;
  font: 1.3rem Inconsolata, monospace;
  color:white;
  background-color: black;
}

a{
  color:inherit;
  font-weight: inherit;
  text-decoration: inherit;
  text-shadow: 2px 2px #53a148;
}

#sidebar{
  width: 100%;
  margin: 5%;
  margin-top: 0.5%;
  text-align: justify;
}

#port {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: relative;
}


#terminal{
  margin:0 auto;
  margin-left: auto;
  margin-right: auto;
  
}

@media(min-width:1024px){
  #sidebar{
    flex-basis: 20%;
    margin:2%;
    margin-top:0.5%;
    height: 100%;
  }

  #terminal{
    flex-basis: 72%;
    flex-direction: row;
    margin-top:2%;
    margin-right: 2%;
    margin-left: auto;
    margin-bottom: auto;
  }

  body{
      overflow-x:hidden;
  }
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#sidebar h1{
  color: #58d49f;
  font-size: 52px;
}

@media(max-width:1024px){
  #sidebar h1{
    font-size: 100px;
  }
}

#profile{
  max-width: 100%;
}

#intro{
  color: #de935f;
  text-align: justify;
}

#prompt{
  float:left;
  width:auto;
  font-size: 22px;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: black;
  color: #f0c674;
  border: none;
  font: 1.3rem Inconsolata, monospace;
}

#txtBox{
  float:left;
  width:auto;
  font-size: 22px;
  vertical-align: middle;
  background-color: #0e1a1b;
  color: #b5bd68;
  border: #f0c674;
  box-sizing: border-box;
  font: 1.3rem Inconsolata, monospace;

}

#injected{
  font-size: 15px;
  color: white;
  text-align: justify;
  margin-top:2%;
}

#injected ul{
  list-style: none;
}

#injected li, th, td {
    padding-right: 45px;
    padding-left: 25px;
    padding-top: 7px;

    text-align: left;
}

#userInput{
  margin-top: 20px;
}
