.ship{
    width: 180px;
    height: 150px;
    background-image: url('img/unnamed.png');
    background-size: cover;
    margin-bottom: 2rem;
    margin-right: 1rem;
}
.float-ease {
    animation: float 2s infinite ease;
}
.wrapper {
    background-image: url('https://wallpaperset.com/w/full/a/7/8/185839.jpg');
    width: 100%;
    height: 100vh;
    animation: animation 150s linear infinite ;
  }

 @keyframes animation {
     100%{
      background-position:0px -3000px;
    }
}
@keyframes float {
    0% {
      transform: translateY(0);
      -webkit-transform: translateY(0);
    }
  
    50% {
      transform: translateY(1rem);
      -webkit-transform: translateY(1rem);
    }
  
    100% {
      transform: translateY(0);
      -webkit-transform: translateY(0);
    }
} 