body{
    font: 1.3rem Inconsolata, monospace;
    color:white;
    background-color: black;
}
body::-webkit-scrollbar {
    display: none;
}

a{
    text-decoration: none;
}
.head{
    display: flex;
    justify-content: center;
    padding: .9em 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3em 0;
}

.card {
    width: 50%;
    display: flex;
    background: rgb(228, 241, 248);
    padding: .6em 1em .6em .6em;
    margin-bottom: 3em;
    border-radius: .5em;
    border: solid 1.5px #ccc;
}
  
.img {
    min-width: 80px;
    height: 80px;
    border-radius: .3em;
    opacity: .7;
    margin: 0 .6em 0 0;
    border: solid 1px rgb(2, 6, 223);
}
  
.card h3 {
    margin: 0;
    font-size: 1em;
    color: #000;
}
  
.content p {
    margin: 0;
    font-size: .7em;
    color: #222;
}

@media (max-width: 820px) {
    .container {
      min-width: auto;
    }
    .card {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .card {
      box-shadow: none;
    }
  }