body {
  font-family: "Noto Serif", serif;
  background-color: rgb(7, 7, 7);
  color: aliceblue;
}
#port {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: relative;
  border: 2px solid #8d8989;
}
a {
  text-decoration: solid;
  color: cyan;
}

li {
  display: inline-flex;
  padding: 10px;
}

hr {
  width: 50%;
}
